@model DatLich.Models.news

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    
    <div class="page-section features" style="margin: 100px 10px">
        @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

        <h2>Edit News</h2>

            <div class="form-outline md-4">
                <label for="InTitle">Title</label>
                <input class="form-control" id="Title" name="newsTitle" value="@Model.newsTitle" type="text" placeholder="Title" autofocus />
            </div>
            <hr />
            <div class="form-outline md-4">
                <label for="InDetail">Detail</label>
                <textarea class="form-control" name="detail" id="InDetail" rows="4">@Model.detail</textarea>
            </div>
            <hr />
            <div class="form-outline md-4">
                <label for="InDescrip">Description</label>
                <textarea class="form-control" name="description" id="InDescrip" rows="6">@Model.description</textarea>
            </div>
            <hr />
            <div class="form-outline md-4" style="margin: 10px 10px">
                <img src="@Model.image" height="50px" width="50px" class="mai-at-circle" />
                <label for="InImage">Image</label>
                <input type="file" class="form-control-file" name="image" value="" id="InImage" style="width: 100%;">
            </div>
            <hr />
            <div class="form-check" style="margin: 20px 10px">
                @if (Model.isActive == true)
                {

                    <input type="checkbox" class="form-check-input" name="isActive" value="true" id="InIsA" checked spellcheck="@Model.isActive">
                    <label for="InIsA">IsActive</label>
                }
                else
                {

                    <input type="checkbox" class="form-check-input" name="isActive" value="true" id="InIsA" spellcheck="@Model.isActive">
                    <label for="InIsA">IsActive</label>
                }


            </div>
            <div class="form-group">

                <div class="col-md-offset-2 col-md-4">
                    <a type="submit" style="margin: 10px 5px;width:30%" class="btn btn-lg btn-outline-primary btn-block" href="~/Admin/News/Index">Back</a>
                    <input type="submit" value="Save" class="btn btn-lg btn-primary" />
                </div>
            </div>


        }
    </div>
</main>